<div class="layout-container">


  {% include "@tema_cierzo/layout/includes/header.html.twig" %}

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  {% set ancho = node.field_ancho is not empty ? node.field_ancho.value : 'container' %}


  <main role="main" class="{{ ancho }}">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

 <footer role="contentinfo">

  {{ page.footer }}
  {% include "@tema_cierzo/layout/includes/footer.html.twig" %}


  </footer>



</div>{# /.layout-container #}
